---
interface Props {
  eyebrow: string;
  title: string;
  id?: string;
}

const { eyebrow, title, id } = Astro.props;
const hasDescription = Astro.slots.has("default");
---

<div class="section-header">
  <p class="eyebrow">
    {eyebrow}
  </p>
  <h2 class="section-header__title" id={id}>
    {title}
  </h2>
  {
    hasDescription && (
      <div class="section-header__description">
        <slot />
      </div>
    )
  }
</div>
