---
import type { Service } from "../../domain/site";

interface Props {
  service: Service;
}

const { service } = Astro.props;
---

<article class="service-card">
  <span class="service-card__mark" aria-hidden="true"></span>
  <h3 class="service-card__title">{service.title}</h3>
  <p class="service-card__summary">{service.summary}</p>
</article>
