---
import Icon from "./Icon.astro";
import type { Service } from "../../domain/site";

interface Props {
  service: Service;
}

const { service } = Astro.props;
---

<article class="service-card">
  <span class="icon-badge service-card__icon" aria-hidden="true">
    <Icon name={service.icon} />
  </span>
  <h3 class="service-card__title">{service.title}</h3>
  <p class="service-card__summary">{service.summary}</p>
</article>
